---

---

<footer>
    <div>
        <p>Built by <a href="https://github.com/fusetim">FuseTim</a> with <a href="https://astro.build" target="_blank" rel="noopener noreferrer">Astro.js</a></p>
        <p>2025 - All rights reserved</p>
    </div>
</footer>

<style>
    footer { 
        background-color: #f6f6f6;
        padding: 2rem;
        margin-top: 2rem;
        min-height: 8rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer p {
        margin: 0;
        font-size: 1rem;
        font-weight: 500;
        color: #333;
        text-align: center;
        line-height: 1.75;
    }

    footer a {
        color: #06448a;
        text-decoration: none;
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }
    }
</style>