---
import BasePage from "../layouts/base/BasePage.astro";
import { APP_NAME, APP_DESCRIPTION } from "../constants";
import type { Props as ProjectCardProps } from "../components/ProjectCard.astro";
import ProjectCard from "../components/ProjectCard.astro";
import { LANGUAGES } from "../libs/languages";
import MdiRightArrow from "~icons/mdi/chevron-right";
import BriefPostCard from "../components/BriefPostCard.astro";
import type { Props as BriefPostCardProps } from "../components/BriefPostCard.astro";

const projectHighlights: ProjectCardProps[] = [
	{
		title: "bitcrawler",
		description: "DHT crawler for the BitTorrent protocol, an experiment to learn more about Kademlia and DHT.",
		image: undefined,
		link: "https://github.com/fusetim/bitcrawler",
		tags: ["DHT", "BitTorrent", "Kademlia", "P2P", "Rust"],
		languages: [LANGUAGES.RUST],
		license: "MIT License",
	},
	{
		title: "Anim'Est - Website and Online Store",
		description: "Entire website and online ticket store for the Anim'Est convention.",
		image: "https://animest.net/assets/brand/logo.png",
		link: "https://animest.net",
		tags: ["E-commerce", "Japanese culture", "Svelte", "FastAPI"],
		languages: [LANGUAGES.TYPESCRIPT, LANGUAGES.SVELTE, LANGUAGES.PYTHON],
	},
	{
		title: "fluent4s",
		description: "Fluent language made available for Scala and JVM-based projects.",
		image: "https://avatars.githubusercontent.com/u/88927100?s=200&v=4",
		link: "https://github.com/fluent4s/fluent4s",
		tags: ["Fluent", "Scala", "JVM"],
		languages: [LANGUAGES.SCALA],
		license: "Apache License 2.0",
	},
	{
		title: "BlazeVM",
		description: "A \"blazingly-fast\" Java Virtual Machine made from scratch to learn about VM internals.",
		image: undefined,
		link: "https://github.com/fusetim/blazevm",
		tags: ["Java Virtual Machine", "Rust"],
		languages: [LANGUAGES.RUST],
		license: "CeCILL license v2.1",
	}
];

const latestPosts: BriefPostCardProps[] = [
	{
		title: "How to use the DHT in BitTorrent",
		description: "A short article explaining how to use the DHT in BitTorrent.",
		link: "/blog/dht-bittorrent",
		tags: ["BitTorrent", "DHT", "Kademlia"],
		date: "23 October 2023",
	},
	{
		title: "How to use the DHT in BitTorrent",
		description: "A short article explaining how to use the DHT in BitTorrent.",
		link: "/blog/dht-bittorrent",
		tags: ["BitTorrent", "DHT", "Kademlia"],
		date: "28 May 2022",
	},
];
---

<BasePage
	title={APP_NAME}
	description={APP_DESCRIPTION}
>
	<main class="container">
		<section id="profile">
			<h1>FuseTim</h1>
			<h2>French CS student, dabbling in every IT fields possible!</h2>
		</section>
		<section id="about">
	
		</section>
		<section id="projects">
			<h3>Projects</h3>
			<div class="project-highlights">
				{projectHighlights.map((project) => (
					<ProjectCard
						{...project}
					/>
				))}
			</div>
			<a href="#projects" class="btn more">
				<span>More projects</span>
				<MdiRightArrow></MdiRightArrow>
			</a>
		</section>
		<section id="blog">
			<h3>Last posts</h3>
			<div class="post-highlights">
				{latestPosts.map((post) => (
					<BriefPostCard
						{...post}
					/>
				))}
			</div>
			<a href="/blog" class="btn more">
				<span>More posts</span>
				<MdiRightArrow></MdiRightArrow>
			</a>
		</section>
	</main>
</BasePage>

<style lang="scss">
	section {
		margin: 4rem 0.5rem;

		h3 {
			font-size: 1.75rem;
			margin-bottom: 1rem;
		}
	}

	#profile {
		display: flex;
		flex-direction: column;
		align-items: center;
	}	
	#profile h1 {
		font-size: 2.5rem;
		line-height: 1;
		font-weight: 600;
		color: #333;
	}
	#profile h2 {
		font-size: 1.5rem;
		font-weight: 400;
		color: #555;
		text-align: center;
	}
	.project-highlights {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 1rem;
	}
	.post-highlights {
		display: grid;
		grid-template-columns: 1fr;
		gap: 1rem;
	}
	.btn.more {
		display: flex;
		align-items: center;
		justify-content: center;

		padding: 0.5rem 0.5rem 0.5rem 1rem;
		margin: 1rem auto;

		border-radius: 8px;
		border: 1px solid #ccc;
		background-color: #f9f9f9;
		outline: 1px solid transparent;

		width: fit-content;

		font-size: 0.8rem;
		text-transform: uppercase;
		font-weight: 600;

		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, outline-color 0.2s ease-in-out;

		@media (max-width: 600px) {
			width: 100%;
		}
	}
	.btn.more:hover {
		background-color: #f7f8fb;
		outline-color: #3d66bf;
		border-color: #3d66bf;
		color: #0d1f48;
		svg {
			transform: translateX(0.25rem);
		}
	}
	.btn.more svg {
		margin-left: 0.5rem;
		transition: transform 0.2s ease-in-out;
	}
	a.btn {
		text-decoration: none;
		color: inherit;
	}
</style>